@page "/post/{postId:int}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Post.Title;
    ViewData["PageContentClass"] = "mt-5";
}

<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">@Model.Post.Title</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on @Model.Post.PublishedOn</div>
    </header>
     <!-- Post content-->
    <section class="mb-5">
        @Html.Raw(Model.Post.Content)
    </section>
</article>

<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form 
                class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
            </form>

            <hr />
            <h4 class="mb-4">@Model.Post.Comments.Count() Comment(s)</h4>

            <div id="comment-list">
                @foreach (var item in Model.Post.Comments)
                {
                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                        </div>
                        <div class="ms-3">
                            <div class="fw-bold">@item.Author</div>
                            <div class="small text-muted">Published on @item.PublishedOn</div>
                            @item.Content
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>